#!/usr/bin/make -f

export DH_VERBOSE = 1
# dpkg hardening flags (-z relro etc.) are not supported by MinGW-w64 linker.
export DEB_BUILD_MAINT_OPTIONS = hardening=-all

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_build:
	$(MAKE) build

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
