#!/usr/bin/make -f

export DH_VERBOSE = 1

# The container build interface may override this for CI output.
PACKAGE_DIR ?= .wine-build/packages

%:
	dh $@

override_dh_update_autotools_config:
	@:

override_dh_auto_configure:
	@:

override_dh_auto_build:
	$(MAKE) build-in-container

override_dh_auto_install:
	$(MAKE) install-in-container DESTDIR=$(CURDIR)/debian/wine INSTALL_PROGRAM_FLAGS=-s
	install -D -m 644 debian/wine.binfmts $(CURDIR)/debian/wine/usr/share/binfmts/wine

override_dh_makeshlibs:
	dh_makeshlibs --no-scripts

override_dh_builddeb:
	mkdir -p "$(PACKAGE_DIR)"
	dh_builddeb --destdir="$(PACKAGE_DIR)"
